@import "tailwindcss";

@theme {
    --color-primary: #3557c1;
    --color-primary-dark: #1a3c8c;

    --container-base: 1400px;

    --spacing-large: clamp(6rem, 10vw + 1rem, 10rem);

    --text-h1: clamp(2rem, 5vw + 1rem, 4rem);

    --text-base: clamp(1rem, 2vw + 0.125rem, 1.25rem);

    --font-base: 'Noto Sans KR', sans-serif;
    --font-headline: 'Noto Sans KR', sans-serif;
}

@layer components {
    html { font-size: 16px; color: var(--color-text-base); }
    body { background-color: var(--color-background); font-size: var(--text-base); font-family: var(--font-base); font-weight: 400;}
    h1 { font-size: var(--text-h1); font-family: var(--font-headline); font-weight: 500 ;}  
}

@layer utilities {
    .py-large { padding-top: var(--spacing-large); padding-bottom: var(--spacing-large); }
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.site-container {
    @apply mx-auto max-w-[var(--container-base)] w-full;
}

.header-offset{
    @apply pt-20;
}

.hero-background {
    --s: 34px;
    /* control the size*/
    --c1: var(--color-primary);
    --c2: var(--color-primary-dark);

    --_g:
    var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%, var(--c1) 36% 45%,
    var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%,
    #0000 96%;
    background:
        radial-gradient(ellipse 50% 50% at 100% 0, var(--_g)),
        radial-gradient(ellipse 50% 50% at 0 100%, var(--_g)),
        radial-gradient(ellipse 50% 50% at center, var(--_g)),
        radial-gradient(ellipse 50% 50% at center, var(--_g)) calc(var(--s)/2) calc(var(--s)/2) var(--c1);
    background-size: var(--s) var(--s);
}
