---
import { Image } from 'astro:assets';

const {
  image,          // this is expected to be ImageMetadata
  overlayOpacity,
  alt = '',
  width = 1500,
  height = 500,
} = Astro.props;
---
{image && (
  <div class="absolute inset-0 left-0 top-0 w-full h-full overflow-hidden">
    <Image
      src={image}
      alt={alt}
      width={width}
      height={height}
      class="w-full h-full object-cover"
      loading="eager"
      decoding="async"
    />
    <div
      class="hero-background absolute inset-0 left-0 top-0 w-full h-full overflow-hidden"
      style={`opacity: ${overlayOpacity ?? 0.1}`}
    />
	</div>
)}
